# Arquivo: client/requirements.txt

# Dependências do Skymetrics
ttkbootstrap
SimConnect
requests
keyring
configparser
websocket-client
pystray
Pillow
# Dependências do Rádio
pyaudio
python-socketio
python-engineio
scipy
keyboard
pygame
numpy